<a href="https://colab.research.google.com/github/BhaswatiRoy/Machine-Learning-Projects/blob/main/Iris_Flower_Name.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#function=() used
#attributes=() not used

In [2]:
#importing the dataset
dataset=pd.read_csv("Iris Flower Name.csv")

In [3]:
#viewing the top 5 rows of the dataset
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
#getting the unique values name of any column
dataset["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
#getting the unique values name of any column along with count of each
dataset["Species"].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [6]:
#getting some statistical values for each features
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
#values=>convert the variables to numpy arrays
x=dataset.iloc[:,1:5].values
y=dataset.iloc[:,-1].values

In [8]:
#convert the categorical values to numerical value by Label Encoding & OneHot Encoding
#If we have categorical values like Red, Blue, Green
#Label Encoding gives values 0,1,2 to both in same column
#OneHot Encoding makes 3 columns and gives binary values respectively to each
#LabelBinarizer=>LabelEncoding+OneHotEncoding
from sklearn.preprocessing import LabelBinarizer
lb=LabelBinarizer()
y=lb.fit_transform(y)

In [9]:
#perform train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.ensemble import RandomForestClassifier
#n_estimator=>number of trees we want to input
classifier=RandomForestClassifier(n_estimators=100)
classifier.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
#find the predicted value(y_preds) which needs to be compared with test set value(y_test)
y_pred=classifier.predict(x_test)

In [13]:
#measure the accuracy of the model
#diagonal elements show the correct predictions and non diagonal elements shpw the wrong predictions
#so our model is well and good and gives all correct predictions
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(np.argmax(y_pred,axis=1),np.argmax(y_test,axis=1))
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]])

In [14]:
#measure accuracy score which range from 0 to 1
#since accuracy=1 so model has 100% accuracy
ac=accuracy_score(np.argmax(y_pred,axis=1),np.argmax(y_test,axis=1))
ac

1.0