In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("Music Dataset.csv")

In [ ]:
df.head()

   id  artist_id  ... mtv_critic music_maniac_critic
0   1       1767  ...        1.5                 3.0
1   2      23548  ...        4.0                 5.0
2   3      17822  ...        1.0                 2.0
3   4      19565  ...        2.0                 4.0
4   5      24941  ...        2.5                 1.0

[5 rows x 10 columns]

In [ ]:
df=df.drop(labels=["artist_id","album_title"],axis=1)

In [ ]:
df.head()

   id        genre  ...  mtv_critic  music_maniac_critic
0   1         Folk  ...         1.5                  3.0
1   2        Metal  ...         4.0                  5.0
2   3       Latino  ...         1.0                  2.0
3   4          Pop  ...         2.0                  4.0
4   5  Black Metal  ...         2.5                  1.0

[5 rows x 8 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df["genre"]=lb.fit_transform(df["genre"])

In [9]:
df.head()

   id  genre  ...  mtv_critic  music_maniac_critic
0   1     12  ...         1.5                  3.0
1   2     25  ...         4.0                  5.0
2   3     22  ...         1.0                  2.0
3   4     27  ...         2.0                  4.0
4   5      2  ...         2.5                  1.0

[5 rows x 8 columns]

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_sales=pd.DataFrame(df["num_of_sales"])
x_sales=sc.fit_transform(x_sales)

In [16]:
df["num_of_sales"]=x_sales

In [17]:
df.head()

   id  genre  ...  mtv_critic  music_maniac_critic
0   1     12  ...         1.5                  3.0
1   2     25  ...         4.0                  5.0
2   3     22  ...         1.0                  2.0
3   4     27  ...         2.0                  4.0
4   5      2  ...         2.5                  1.0

[5 rows x 8 columns]

In [21]:
from sklearn.cluster import KMeans
model_km=KMeans(8)
model_km.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [22]:
labels=model_km.labels_
df["Label of Music"]=labels

In [26]:
df.head()

   id  genre  year_of_pub  ...  mtv_critic  music_maniac_critic  Label of Music
0   1     12         2006  ...         1.5                  3.0               1
1   2     25         2014  ...         4.0                  5.0               1
2   3     22         2000  ...         1.0                  2.0               1
3   4     27         2017  ...         2.0                  4.0               1
4   5      2         2010  ...         2.5                  1.0               1

[5 rows x 9 columns]

In [27]:
labels.min()

0

In [28]:
labels.max()

7