In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df=pd.read_csv("Covid-19 Symptoms.csv")

In [11]:
df.head()

   Dry Cough  High Fever  ...  Difficulty in breathing  Infected with Covid19
0          0           2  ...                        0                     No
1         15          15  ...                       16                    Yes
2          4           5  ...                        0                     No
3          4           7  ...                       10                     No
4          0           0  ...                        0                     No

[5 rows x 5 columns]

In [12]:
df.columns

Index(['Dry Cough', 'High Fever', 'Sore Throat', 'Difficulty in breathing',
       'Infected with Covid19'],
      dtype='object')

In [13]:
df.shape

(48, 5)

In [14]:
x=df.drop("Infected with Covid19",axis=1)
x.head()

   Dry Cough  High Fever  Sore Throat  Difficulty in breathing
0          0           2            3                        0
1         15          15           20                       16
2          4           5            0                        0
3          4           7            9                       10
4          0           0            1                        0

In [15]:
y=pd.DataFrame(df["Infected with Covid19"])
y.head()

  Infected with Covid19
0                    No
1                   Yes
2                    No
3                    No
4                    No

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.linear_model import LogisticRegression
model_lr=LogisticRegression()
model_lr.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
y_preds_lr=model_lr.predict(x_test)
y_preds_lr

array(['Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No'],
      dtype=object)

In [23]:
#predictiing for an unknown value given by us
infections=model_lr.predict([[6,8,1,8]])
infections

array(['No'], dtype=object)

In [20]:
from sklearn.metrics import confusion_matrix
cm_lr=confusion_matrix(y_test,y_preds_lr)
cm_lr

array([[5, 0],
       [0, 5]])

In [24]:
from sklearn.metrics import accuracy_score
acc_lr=accuracy_score(y_test,y_preds_lr)
acc_lr

1.0